.btn a*{
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}